.App {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f5f5f5;

  .App__Container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: 800px;
    transform: translateX(-50%);

    .MessagesList {
      flex: 1;
    }
  }
}
