.MessageForm {
  position: relative;

  .MessageForm__Send {
    position: absolute;
    bottom: 8px;
    left: 100%;
    transform: translateX(20px);

    .MessageForm__SendHint {
      font-size: 12px;
      position: absolute;
      top: 100%;
      left: 50%;
      color: #aaa;
      opacity: 0;
      transform: translate(-50%, 5px);
      transition: opacity 0.1s 0.2s;
    }

    .MessageForm__SendButton {
      &:hover {
        & + .MessageForm__SendHint {
          opacity: 1;
        }
      }
    }
  }
}