.Header {
  .Header__Title {
    position: relative;
    font-size: 22px;
    padding-left: 50px;

    .Header__Logo {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      width: 32px;
      height: 32px;
      background: url('./assets/logo.png') no-repeat center center;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
}
