.MessagesList {
  position: relative;

  .MessagesList__Content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    padding: 40px;
    overflow: hidden;
    overflow-y: auto;
  }

  .MessagesList__NoMessages {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    color: #999;
    text-align: center;
  }
}
